<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Recipe</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.1.1/css/bootstrap.min.css" type="text/css"/>
</head>
<body>



<form th:action="@{/save}" method="post" th:object="${recipe}">

    <h2 style="margin-left: 30px; margin-top: 10px">Add Recipe</h2>

    <div class="container">
        <div class="row" style="margin-top: 10px">
            <label style="font-weight: bold">Title</label>
            <input type="text" th:field="*{title}" style="width: 200px"/>
        </div>

        <div class="row" style="margin-top: 10px">
                <label style="font-weight: bold">Time</label>
                <input type="text" th:field="*{estimatedTime}" style="width: 200px"/>
        </div>

        <div class="row" style="margin-top: 10px">
            <label style="font-weight: bold">Ingredients</label>
            <input type="text" th:field="*{ingredients}" style="width: 200px"/>
        </div>

        <div class="row" style="margin-top: 10px">
            <label style="font-weight: bold">Instructions</label>
            <textarea th:field="*{instructions}" style="width: 400px; height: 120px"/>
        </div>

        <div class="row" style="margin-top: 10px; width: 60px">
                <button type="submit" class="btn btn-info" role="button" style="background-color: lightgreen; border: lightgreen; border-color: black">Save</button>
        </div>
    </div>

</form>

</body>
</html>